@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* إعدادات عامة للخط والخلفية */
body {
  font-family: 'Cairo', sans-serif;
  background-color: #f8f9fa; /* رمادي فاتح جداً جداً مريح للعين */
  color: #1a1a1a;
  overflow-x: hidden;
}

/* تحسين السكرول بار ليكون أنحف وأهدأ */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #C8102E;
}

/* إخفاء شريط التمرير في السلايدر */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}